*.o
*.d
*#*#
*~
*.so
*.log
*.aux
*.out
*.exe
*.pyc
*.api
*.slcio
*.replay
*.trace
.hidden
GPATH
GRTAGS
GTAGS
bin/*
*.a
*.root
.#*
test_contiguous_vectors
ch*.xml
build/*
obj/*
lib/*
doc/build/*
doc/source/*
*.png